@charset "utf-8";

/*--------------------------*/
      /*reset css begin*/
/*--------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------*/
     /*reset css finish*/
/*--------------------------*/

/*--------------------------*/
     /*all css begin*/
/*--------------------------*/

html{
    font-size:10px;
}

body{
    font-family: 'Sawarabi Mincho', sans-serif;
}
/*--------------------------*/
     /*all css finish*/
/*--------------------------*/

/* #modal01,#modal02,#modal03,#modal04,#modal05{
    transform:translate(0,-1000px);
} */

/* active-humbergar */

/*============
nav
=============*/
nav {
    font-weight:bold;
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
      color:black;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 40px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color:white;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 13.6px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask_nav {
    color:#333;
    display: none;
    transition: all .5s;
  }
  .open #mask_nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }

/* active-humbergar */


/*--------------------------
  --------------------------*/
     /*pc css begin*/
/*--------------------------
  --------------------------*/


@media screen and (min-width:640px){
    /*none display*/
    #navArea{
        display:none;
    }

    .sp-toggle-nav{
    	display:none;
    }
    
    .header-flex:last-child{
    	display:none;
    }
    
    .sp-footer-flex{
        display:none;
    }
    /*none display*/
   
    .container{
    	position:relative;
    	width:100%;
    	height:auto;
    	max-width:960px;
    	margin:0 auto;
    	box-sizing:border-box;
    }
    
    /*header begin*/
    
    header{
    	height:100px;
    	width:100%;
    	background-color:#3a4d56;
    }
    
    header .container .header-flex a img{
    	height:100px;
    	max-width:100%;
    }
    
    header .container .header-flex a:hover{
    	opacity:0.8;
    }
    
    header .container .header-flex ul{
    	font-family: 'Dancing Script', cursive;
    	color:white;
    	font-size:2rem;
    	margin-top:60px;
    }
    
    header .container .header-flex ul li{
    	display:inline-block;
    	margin-right:25px;
    }
    
    header .container .header-flex ul li a{
    	color:white;
    	text-decoration:none;
    }
    
    header .container .header-flex ul li a:hover{
    	opacity:0.8;
    }
    
    header .container .header-flex ul li:last-child{
    	margin-right:50px;
    }
    
    .header-box{
    	display:flex;
    	flex-direction:row;
    	justify-content:space-between;
    }
    
    .red-box{
    	width:40px;
    	height:100px;
    	background-color:#af2c2c;
    	position:absolute;
    	top:0;
    	right:0;
    }
    
    
    .border_bottom_btn{
        position:relative;
        display:inline-block;
    }

    .border_bottom_btn:hover{
        cursor:pointer;
    }

    .border_bottom_btn::after{
        position:absolute;
        bottom:-12px;
        left:0;
        content:'';
        width:100%;
        height:2px;
        background:white;
        opacity:0;
        visibility:hidden;
        transition:.3s;
    }

    .border_bottom_btn:hover::after{
        bottom:-6px;
        opacity:1;
        visibility:visible;
    }
    

   
    
    /*header finish*/
    
    /*main begin*/
   main{
    	width:100%;
    	height:auto;
    }

    main .main-image{
        width:100%;
        height:591px;
    }

    main .main-image p{
        position:relative;
    }

    main .main-image p::after{
        position:absolute;
        background: rgba(255,255,255,0.5);
        width:100%;
        height:100%;
        top:0;
        left:0;
        content:"";
    }
    
    main .main-image img{
    	width:100%;
        height:591px;
        object-fit:cover;
    }
    
    main .main-image .main-text{
    	position:absolute;
    	top:190px;
    	left:10%;
    	font-size:6rem;
    	font-family:'Great Vibes';
        font-family: 'Dancing Script', cursive;
    }
    
    main .heading{
    	text-align:center;
    	font-size:3rem;
    	/*background:yellow;*/
    	padding:40px 0;
    }
    
    /*=======================*/
    /*study css begin*/
    /*=======================*/
    
    .main-flex{
        padding:0 20px;
        margin-top:60px;
    }
    
     main .lg-heading{
    	text-align:center;
    	font-size:4rem;
    	letter-spacing:0.3rem;
    	/*background:yellow;*/
    	padding:40px 0;
    }
    
    main .main-flex .three-col{
        display:flex;
    }
    main .main-flex .two-col{
        display:flex;
    }
    
    main .main-flex .three-col div{
        width:33%;
    }
    main .main-flex .two-col div{
        width:45%;
        margin:0 auto;
    }
    
    main .main-flex .three-col div:first-child{
        background-color:white;
    }
    
    main .main-flex .three-col div:nth-child(2){
        background:white;
    }
    
    main .main-flex .three-col div:last-child{
        background-color:white;
    }
    
    main .main-flex .two-col div:first-child{
        background:white;
    }
    
    main .main-flex .three-col div:last-child{
        background-color:white;
    }
    
    main .main-flex .three-col div img{
        max-width:100%;
        height:auto;
    }
    main .main-flex .two-col div img{
        max-width:100%;
        height:auto;
    }

    #modal01,
    #modal02,
    #modal03,
    #modal04,
    #modal05{
        z-index:10;
        width:100%;
        background:rgba(0,0,0,0.6);
        box-sizing:border-box;
        margin:0;
        padding:0;
        font-weight:bold;
        margin:0 auto;
    }
    
    .modal-content{
        margin:0 auto;
        padding:40px;
        /*line-height:2.4rem;*/
    }
    
    .modal{
        /* opacity:0; */
        display:none;
        height:100vh;
        position:fixed;
        top:0;
        width:100%;
    }
    
    .modal_bg{
        /* background:rgba(0,0,0,0.5); */
        height:100vh;
        position:absolute;
        width:100%;
    }
    
    .modal_content{
        font-size:1.4rem;
        background:#fff;
        left:50%;
        padding:40px;
        position:absolute;
        top:50%;
        transform:translate(-50%,-50%);
        width:40%;
        height:auto;
    }
    
    .modal p{
        line-height:2.4rem;
    }
    /* #modal01 ,
    #modal02 ,
    #modal03 ,
    #modal04 ,
    #modal05  {
        display:none;
    }   */
    
    #modal01 h1,
    #modal02 h1,
    #modal03 h1,
    #modal04 h1,
    #modal05 h1{
        color:#990000;
        margin:30px 0;
        text-align:center;
        font-size:2.4rem;
    }
    
    #modal01 .close,
    #modal02 .close,
    #modal03 .close,
    #modal04 .close,
    #modal05 .close{
        background:#990000;
        color:white;
        padding:5px 20px;
        border-radius:5px;
        box-shadow:0 10px;
        display:block;
        margin:0 auto;
        text-align:center;
    }
    
    #modal01 a:hover,
    #modal02 a:hover,
    #modal03 a:hover,
    #modal04 a:hover,
    #modal05 a:hover{
        opacity:0.8;
    }
    
    .modal01-img,
    .modal02-img,
    .modal03-img,
    .modal04-img,
    .modal05-img{
        margin:0 auto;
        box-sizing:border-box;
        width:80%;
        height:auto;
        /*padding:10px;*/
        /*padding-top:0;*/
    }
    
    #modal01 img,
    #modal02 img,
    #modal03 img,
    #modal04 img,
    #modal05 img{
        border-radius:10px;
        width:100%;
        height:auto;
        display:block;
    }
    
    #modal02 ul,
    #modal03 ul,
    #modal04 ul,
    #modal05 ul{
        padding-left:14px;
    }
        
    #modal02 ul li,
    #modal03 ul li,
    #modal04 ul li{
        list-style-type:decimal;
    }
    
    #modal05 ul li{
        list-style-type:circle;
    }
    
    #modal02 h1{
        color:skyblue;
    }
    
    #modal03 h1{
        color:#c2b820;
    }
    
    #modal05 h1{
        color:#00407f;
    }
    
    #modal02 .close{
        background:skyblue;
    }
    
    #modal03 .close{
        background:#c2b820;
    }
    
    #modal05 .close{
        background:#00407f;
    }
    

    .main-image p{
        overflow:hidden;
        color:white;
        font-weight:bold;
        font-size:1.6rem;
        line-height:50px;
    }

    .main-image p strong{
        position:absolute;
        display:block;
        z-index:1;
        bottom:0;
        width:100%;
        height:50px;
        background:rgba(0,0,0,0.5);
        text-align:left;
        padding:20px;
        opacity:0;
        bottom:-200%;
    }

    .main-image p span{
        position:absolute;
        display:block;
        z-index:0;
        top:0;
        top:0;
        width:100%;
        height:100%;
        box-shadow:inset 0 0 50px rgba(50,30,0,0.6),
                inset 0 0 100px rgba(50,30,0,0.3);
        background:rgba(255,155,0,0.2);
        opacity:0;
    }

    
    .sp-col img{
        width:100%;
        height:auto;
        opacity:0.7!important;
        transition:all 0.5s!important;
    }
    
    .sp-col{
        overflow:hidden;
        width:100%;
        height:auto;
    }

    .sp-col img:hover{
        opacity:1!important;
        transform:scale(1.1,1.1);
    }

    /* jquery main-image */
    
    /*=======================*/
    /*study css finish*/
    /*=======================*/
    
    
    /*main finish*/
    
    
    /*footer begin*/
    
    footer{
        background-color:#343333;
        width:100%;
        height:auto;
        padding:30px 10px;
        box-sizing:border-box;
    }
    
    footer .footer-flex{
        display:flex;
        justify-content:space-between;
        width:80%;
        margin:0 auto;
    }
    
    footer .container .footer-nav{
        color:white;
        /*width:20%;*/
    }
    
    footer .container .footer-nav h3{
        font-size:2rem;
        padding-bottom:5px;
    }
    
    footer .container .footer-nav ul li{
        margin:10px 0;
        font-size:1.2rem;
    }
    
    footer .container .footer-nav ul li a{
        color:white;
        text-decoration:none;
    }
    
    footer .container .footer-nav ul li a:hover{
        opacity:0.8;
        text-decoration:underline;
    }
    
    footer p{
        text-align:center;
        color:white;
        margin-top:50px;
    }
    
    /*footer finish*/
}

/*--------------------------
  --------------------------*/
     /*pc css finish*/
/*--------------------------
  --------------------------*/
  
  /*media*/
 
  
  /*media*/
  
  
/*--------------------------
  --------------------------*/
     /*sp css begin*/
/*--------------------------
  --------------------------*/
 @media screen and (max-width:639px){
 	/*none display*/
 	.header-flex ul{
 		display:none;
 	}
 	
 	.fut-right{
 	    display:none;
 	}
 	
 	.portofolio_image{
 	    display:none;
 	}
 	
 	.footer-flex{
 	    display:none;
 	}
 	/*none display*/
     
     .owl-carousel{
         margin-top:70px;
     }

 	.container{
    	position:relative;
    	width:100%;
    	height:auto;
    	max-width:600px;
    	margin:0 auto;
    	box-sizing:border-box;
    }
    
    .pro-image{
        display:none;
    }
    /*header begin*/
    
    header{
        position:fixed;
        top:0;
        z-index:10;
    	height:70px;
    	width:100%;
    	background-color:#3a4d56;
    	font-family: 'Dancing Script', cursive;
    }
    
    header .container .header-flex a img{
    	height:70px;
    	max-width:100%;
    	margin-left:20px;
    }
    
    header .container .header-flex a:hover{
    	opacity:0.8;
    }
    
     header .container .sp-toggle-nav .sp-toggle-ul{
     	display:none;
     }
     
     header .container .header-flex span{
     	font-size:2.8rem;
     	color:white;
     	line-height:70px;
     	margin-right:50px;
     }
    
    .header-box{
    	display:flex;
    	flex-direction:row;
    	justify-content:space-between;
    }
    
    .red-box{
    	position:absolute;
    	top:0;
    	right:0;
    	width:30px;
    	height:70px;
    	background-color:#af2c2c;
    }
    
    .sp-toggle-ul{
    	position:absolute;
    	top:70px;
    	right:0;
    	z-index:10;
    }
    
    .sp-toggle-ul li{
    	width:200px;
    	height:30px;
    	background-color:#35434a;
    	text-align:center;
    	line-height:30px;
    	font-size:1.5rem;
    	border-bottom:1px solid white;
    }
    
    .sp-toggle-ul li a{
    	color:white;
    }
    
    /*header finish*/
    
    /*main begin*/
    main{
    	width:100%;
    	height:auto;
    }
    
    main .main-image{
        width:100%;
        height:210px;
    }

    main .main-image p{
        position:relative;
    }

    main .main-image img{
    	width:100%;
        height:210px;
        object-fit: cover;
    }
    
    .main-image{
    	text-align:center;
    }

    
    main .main-image p::after{
        position:absolute;
        background: rgba(255,255,255,0.5);
        width:100%;
        height:100%;
        top:0;
        left:0;
        content:"";
    }
    
    main .main-image .main-text{
    	position:absolute;
    	top:50px;
    	left:10%;
    	font-size:2.4rem;
    	font-family:'Great Vibes';
    	font-family: 'Dancing Script', cursive;
    }
    
    main .heading{
    	text-align:center;
    	font-size:2rem;
    	/*background:yellow;*/
    	padding:20px 0;
    }
    
    .main-flex{
        margin-top:20px;
        box-sizing:border-box;
        padding:0 10px;
        width:100%;
    }
    
    main .main-flex .sp-col:first-child{
        width:70%;
        margin:0 auto;
    }
    
    main .main-flex .sp-col:nth-child(2){
        width:80%;
        margin:0 auto;
    }
    
    main .main-flex .sp-col:nth-child(3){
        width:80%;
        margin:0 auto;
    }
    
    main .main-flex .sp-col:last-child{
        width:90%;
        margin:0 auto;
    }
    
    main .main-flex a img{
        width:100%;
        height:auto;
    }
    
        
    
    #modal01,
    #modal02,
    #modal03,
    #modal04,
    #modal05{
        z-index:10;
        width:100%;
        background:rgba(0,0,0,0.6);
        box-sizing:border-box;
        margin:0;
        padding:0;
        font-weight:bold;
        margin:0 auto;
    }
    
    .modal-content{
        margin:0 auto;
        padding:40px;
        /*line-height:2.4rem;*/
    }
    
    .modal{
        display:none;
        height:100vh;
        position:fixed;
        top:0;
        width:100%;
    }
    
    .modal_bg{
        background:rgba(0,0,0,0.5);
        height:100vh;
        position:absolute;
        width:100%;
    }
    
    .modal_content{
        font-size:1.2rem;
        background:#fff;
        left:50%;
        padding:20px;
        position:absolute;
        top:50%;
        transform:translate(-50%,-50%);
        width:85%;
        height:auto;
    }
    
    .modal p{
        line-height:2.4rem;
    }
    
    
    #modal01 h1,
    #modal02 h1,
    #modal03 h1,
    #modal04 h1,
    #modal05 h1{
        color:#990000;
        margin:20px 0;
        text-align:center;
        font-size:2rem;
    }
    
    #modal01 .close,
    #modal02 .close,
    #modal03 .close,
    #modal04 .close,
    #modal05 .close{
        background:#990000;
        color:white;
        padding:5px 20px;
        border-radius:5px;
        box-shadow:0 10px;
        display:block;
        margin:0 auto;
        text-align:center;
    }
    
    #modal01 a:hover,
    #modal02 a:hover,
    #modal03 a:hover,
    #modal04 a:hover,
    #modal05 a:hover{
        opacity:0.8;
    }
    
    .modal01-img,
    .modal02-img,
    .modal03-img,
    .modal04-img,
    .modal05-img{
        margin:0 auto;
        box-sizing:border-box;
        width:80%;
        height:auto;
        /*padding:10px;*/
        /*padding-top:0;*/
    }
    
    #modal01 img,
    #modal02 img,
    #modal03 img,
    #modal04 img,
    #modal05 img{
        border-radius:10px;
        width:100%;
        height:auto;
        display:block;
    }
    
    #modal02 ul,
    #modal03 ul,
    #modal04 ul,
    #modal05 ul{
        padding-left:14px;
    }
        
    #modal02 ul li,
    #modal03 ul li,
    #modal04 ul li{
        list-style-type:decimal;
    }
    
    #modal05 ul li{
        list-style-type:circle;
    }
    
    #modal02 h1{
        color:skyblue;
    }
    
    #modal03 h1{
        color:#c2b820;
    }
    
    #modal05 h1{
        color:#00407f;
    }
    
    #modal02 .close{
        background:skyblue;
    }
    
    #modal03 .close{
        background:#c2b820;
    }
    
    #modal05 .close{
        background:#00407f;
    }
        
     /* jquery main-image */

    .main-image p{
        overflow:hidden;
        color:white;
        font-weight:bold;
        font-size:1.4rem;
        line-height:30px;
    }

    .main-image p strong{
        position:absolute;
        display:block;
        z-index:1;
        bottom:0;
        width:100%;
        height:30px;
        background:rgba(0,0,0,0.5);
        text-align:left;
        padding:15px;
        opacity:0;
    }

    .main-image p span{
        position:absolute;
        display:block;
        z-index:0;
        top:0;
        top:0;
        width:100%;
        height:100%;
        box-shadow:inset 0 0 50px rgba(50,30,0,0.6),
                inset 0 0 100px rgba(50,30,0,0.3);
        background:rgba(255,155,0,0.2);
        opacity:0;
    }

    /* jquery main-image */
        
     /*footer begin*/
    
    footer{
        background-color:#343333;
        width:100%;
        height:auto;
    }
    
    footer .sp-footer-flex{
        text-align:center;
        padding:10px;
        color:white;
    } 
    
    footer .sp-footer-flex .footer-nav{
        margin-top:20px;
    }
    
    footer .sp-footer-flex .footer-nav h3{
        font-size:1.4rem;
    }
    
    footer .sp-footer-flex .footer-nav ul{
        margin-top:5px;
    }
    
    footer .sp-footer-flex .footer-nav ul li{
        display:inline-block;
    }
    
    footer .sp-footer-flex .footer-nav ul li a{
        color:white;
    }
    
    footer .sp-footer-flex .footer-nav ul li span{
        margin:0 3px;
    }
    
    footer .container p{
        text-align:center;
        color:white;
        padding:10px 0;
    }
    /*footer finish*/
    
    
    
    
    /*main finish*/
    
 }
  
  /*--------------------------
  --------------------------*/
     /*sp css finish*/
/*--------------------------
  --------------------------*/
  

