@charset "utf-8";
/*============================================
                  secret css
===============================================*/
.secret .container .secret_wrapper{
  width:70%;
  margin:0 auto;
  line-height:1.4rem;
}

.secret h3{
  text-align:center;
  font-weight:bold;
  font-size:var(--h3);
  position:relative;
  margin:100px 0 50px 0;
}

.secret h3::after{
  position:absolute;
  top:45px;
  content:"";
  width:30px;
  height:3px;
  background: #000;
  left:50%;
  transform:translateX(-50%);
  border-radius:10px;
}

.secret .container a:hover{
  opacity:0.7;
  text-decoration:underline;
}

.secret_info{
  margin:50px 0;
}

.secret_info h4{
  font-weight:bold;
  font-size:var(--h4);
  padding:10px;
  box-sizing:border-box;
  background: rgb(236, 231, 231);
  border-radius:5px;
}

.address{
  margin-top:20px;
}

.secret_info h5{
  font-size:var(--h5);
  font-weight:bold;
  margin-bottom:10px;
}

.secret_info p{
  margin-top:10px;
}

p.address_text{
  margin-top:0;
  line-height:1.6rem;
}

.address_text a{
  color:black;
  text-decoration:none;
}

@media screen and (max-width:767px){
  .secret .container .secret_wrapper{
    width:95%;
    margin:0 auto;
    line-height:1.4rem;
  }

  .secret_info h4{
    font-size:var(--h5);
    line-height:1.6rem;
  }

  .secret_info h5{
    font-size:1.1rem;
  }

}

/*============================================
                  secret css
===============================================*/


