@charset "utf-8";

/*==============================================
                      header css
=================================================*/

.sub_image_wrapper{
  background-image:url("../myportfolio-images/featured-burke-01.jpg");
}

/*==============================================
                      header css
=================================================*/

/*==============================================
                      main css
=================================================*/
.main-center{
  display:flex;
  justify-content: space-between;
}

.main{
  width:75%;
  margin-right:30px;
}

.sidebar{
  padding:5px;
  box-sizing: border-box;
}

.sidebar section{
  margin-top:20px;
}

aside{
  width:20%;
}

aside h3{
  margin:0;
  padding:0;
}

aside a{
  color:black;
}

.memory{
  padding:20px 0;
}

.memory_img.img1{
  position:relative;
  transition:all 0.5s;
  opacity:0.7;
}

.memory_img.img1:hover{
  transform:scale(0.9,0.9);
  opacity:1;
  box-sizing:border-box;
}

.memory_img.img2{
  position:relative;
  opacity:0.7;
  transition:all 0.5s;
}

.memory_img.img2:hover{
  transform:scale(0.9,0.9);
  opacity:1;
}

.memory_img img{
  width:100%;
}

iframe{
  display:flex;
  flex-direction:center;
  margin:0 auto;
}




@media screen and (max-width:900px){
  h1{
    font-size:var(--sp_h1);
  }
  
  h2{
    font-size:var(--sp_h2);
  }

  h3{
    font-size:var(--sp_h3);
  }
  
  header{
    padding-bottom:300px;
  }

  #wrap{
    margin-top:0;
  } 

  iframe{
    margin-top:50px;
    height:300px;
  }

  .main-center{
    display:block;
  }
  
  .main{
    width:100%;
  }

  aside{
    width:100%;
    display:flex;
  }

  aside section{
    width:48%;
  }

  aside section:first-child{
    margin-right:10px;
  }

  aside section li{
    margin-bottom:1px;
  }

  aside section li a{
    background: rgb(210, 8, 22);
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    border:2px solid rgb(150, 8, 10);
    box-sizing:border-box;
  }

  aside section li a{
    display:block;
    color:white;
  }

  aside section li a:hover{
    background-color:white;
    color:black;
  }

}

@media screen and (max-width:424px){
  aside{
    width:100%;
    display:block;
  }

  
  aside section{
    width:100%;
  }

  aside section:nth-child(2){
    margin-top:30px;
  }

  aside section li{
    margin-bottom:1px;
  }

  .sidebar h2{
    text-align:center;
  }

}

/*==============================================
                      main css
=================================================*/