<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>新着情報</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<link rel="alternate" type="application/rss+xml" title="記事一覧" href="new.xml">
<link rel="start" href="%_page_first_%">
<link rel="prev" href="%_page_prev_%">
<link rel="next" href="%_page_next_%">

<link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" href="./parts/css/sugu-site.css">
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="./parts/css/sugu-site-old-ie.css">
<![endif]-->
</head>
<body>
<div class="pure-g sugu-window">
<div class="pure-u-1 sugu-container">

<h1>新着情報 <small>%_total_%件中 %_min_%-%_max_% を表示</small></h1>

<!-- ページネーション(JavaScriptで構成) -->
<ul class="sugu-pagination">
</ul>
<div class="sugu-clearfix-old-ie"></div>

<div class="sugu-article-list">
<!-- article list : generate from article_list.txt -->
%_article_list_%
</div><!-- /sugu-article-list -->

<ul class="sugu-pager">
	<li class="sugu-previous"><a href="%_page_first_%" tabindex="-1">&laquo; 先頭</a></li>
	<li class="sugu-previous"><a href="%_page_prev_%" tabindex="-1">前</a></li>
	<li class="sugu-next"><a href="%_page_next_%" tabindex="-1">次</a></li>
	<li class="sugu-next"><a href="%_page_last_%" tabindex="-1">最後 &raquo;</a></li>
</ul>

</div><!-- /pure-u-1 -->
</div><!-- /pure-g -->

<script src="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/js/jquery-1_11_3-min.js" type="text/javascript"></script>
<script src="./parts/js/sugu-site.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* ページネーション用のスクリプト（ここから） */

		/* ページごとの件数：環境変数 $conf{index_list_no} で設定した値を設定して下さい。 */
		var index_list_no = 10;

		var page_first = '%_page_first_%';
		var pagelink = '<li'+'><'+'a href="PAGE">NU</'+'a><'+'/li>';
		var pagelink_active = '<li'+' class="sugu-active"><'+'a href="javascript:void(0);">NU</'+'a></'+'li>';

		var total = %_total_%;
		var thispage = %_min_%;

		var link_items = '<li'+'><'+'a href="%_page_first_%" title="先頭">&laquo;</'+'a></'+'li>';

		for (i=0; i<total/index_list_no; i++){
		    var first = i*index_list_no+1;
		    if (first == thispage){
		        link_items = link_items + pagelink_active.replace(/NU/g, i+1);
		    } else {
		    	var pagename = page_first;
		        if (i!=0){
		      	  pagename = page_first.replace(/\.html/g, '_'+i+'.html');
		        }
		        var link = pagelink.replace(/NU/g, i+1).replace(/PAGE/, pagename);
		        link_items = link_items + link;
		    }
		}
		link_items = link_items + '<li'+'><'+'a href="%_page_last_%" title="最後">&raquo;</'+'a></'+'li>';

		$(".sugu-pagination").html(link_items);
	/* ページネーション用のスクリプト（ここまで） */

});

</script>

</body>
</html>
