<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>%_subject_% (%_yyyy_%-%_mm_%-%_dd_%)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="description" content="%_summary_%">
<link rel="alternate" type="application/rss+xml" title="記事一覧" href="new.xml">
<link rel="contents" href="%_index_filename_%">
<link rel="prev" href="%_to_prev_%">
<link rel="next" href="%_to_next_%">
<!-- link rel="canonical" href="http:://www.example.com/sugu/webdir/%_to_article_%" -->
<!-- rel="canonical" を使う時は http からの URLになるように編集して下さい。 -->
<!-- ファイル名の変更をしていなければ「%_to_article_%」は「%_d_%.html」と同じになります。 -->

<link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/css/pure-grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" href="./parts/css/sugu-site.css">
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="./parts/css/sugu-site-old-ie.css">
<![endif]-->

<link rel="stylesheet" type="text/css" href="./parts/css/jquery-lightbox.css">
</head>
<body>
<div class="pure-g sugu-window">
<div class="pure-u-1 sugu-container">

<!-- ページリンク -->
<ul class="sugu-pager">
<li class="sugu-previous"><a href="%_to_prev_%" tabindex="-1">前</a></li>
<li class="sugu-next"><a href="%_to_next_%" tabindex="-1">次</a></li>
</ul>
<div class="sugu-clearfix-old-ie"></div>

<h1>新着情報</h1>
<h2>%_subject_%</h2>
<p class="sugu-pull-right">%_yyyy_%/%_mm_%/%_dd_% (%_dayname_%)</p>
<div class="sugu-clearfix"></div>

<div class="pure-g sugu-article">

	<div class="pure-u pure-u-1 pure-u-md-2-3 pure-u-lg-3-4 sugu-article-left">
		<!-- アップロードされた時に、対応する article_image_#.txt から生成 -->
		%_article_image_1_%

		<div>
			%_body_%
		</div>

		<!-- ファイルの表示 -->
		<ul class="sugu-file-list">
		<!-- attached files : generate from article_file.txt -->
		%_file_list_%
		</ul>

	</div><!-- /pure-u-md-2-3 pure-u-lg-3-4 -->

	<div class="pure-u pure-u-1 pure-u-md-1-3 pure-u-lg-1-4 sugu-article-right">
		<!-- 画像の表示 -->
		<!-- アップロードされた時に、対応する article_image_#.txt から生成 -->
		%_article_image_2_%
		%_article_image_3_%
		%_article_image_4_%
		%_article_image_5_%
	</div><!-- /pure-u-md-1-3 pure-u-lg-1-4 -->


	<div class="pure-u pure-u-1">
		<!-- 不要な表示は削除して下さい -->
		<!-- <blockquote>%_summary_%</blockquote> -->

		<!-- カスタム項目:1行テキスト -->
		%_linetext1_%
		%_linetext2_%
		%_linetext3_%
		%_linetext4_%
		%_linetext5_%

		<!-- カスタム項目:複数行テキスト -->
		%_blocktext1_%
		%_blocktext2_%
		%_blocktext3_%
		%_blocktext4_%
		%_blocktext5_%
	</div><!-- /pure-u-md-2-3 pure-u-lg-3-4 -->

</div><!-- /pure-g -->


<!-- ページリンク -->
<div class="pure-g sugu-page-link">

	<div class="pure-u pure-u-1-4">
			<a href="%_to_prev_%" class="pure-button">前へ</a>
	</div>
	<div class="pure-u pure-u-1-2 sugu-text-center">
			<a href="%_index_filename_%" class="pure-button">トップ一覧へ</a>
			<a href="%_to_index_%" class="pure-button sugu-t-to_index">一覧へ</a>
	</div>
	<div class="pure-u pure-u-1-4">
			<a href="%_to_next_%" class="pure-button sugu-pull-right">次へ</a>
	</div>

</div><!-- /sugu-page-link -->

</div><!-- /pure-u-1 -->
</div><!-- /pure-g -->

<script src="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/js/jquery-1_11_3-min.js" type="text/javascript"></script>
<script src="//lcns2.sugutsukaeru.jp/c803d429b782f84/4.9/a4b94adbcbff24406a11ec647abba536/js/jquery-lightbox-min.js" type="text/javascript"></script>
<script src="./parts/js/sugu-site.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* ライトボックス */
    $('.sugu-article-right .image-link').lightbox(); 
});
</script>

</body>
</html>
